div.indent-left {
    margin-left: 3em;
}

div.table {
    display: table;
}

div.table div.trow {
    display: table-row;
}

div.trow div.tcell {
    display: table-cell;
    padding: 0.5em 0.5em 0.5em 0.5em;
}